html
	head
		title TheVotingApp!!!
		style
			include css/bootstrap.min.css
			include css/bootstrap-social.css
			link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
			block css
				style.
					body{
						padding-top: 20px;
						padding-bottom: 20px;
						background-color: #02AAB0 ;
						background-color: -webkit-linear-gradient(to left, #02AAB0 , #00CDAC) !important;
						background-color: linear-gradient(to left, #02AAB0 , #00CDAC) !important;
					}
	body
		block main