extends layout.pug

append css
	style.
		body {
			//- padding-top: 20px;
			//- padding-bottom: 20px;
			//- background-color: #02AAB0 ;
			//- background-color: -webkit-linear-gradient(to left, #02AAB0 , #00CDAC) !important;
			//- background-color: linear-gradient(to left, #02AAB0 , #00CDAC) !important;
		}

block main
	button(type="button" class="btn-social btn-twitter").btn.btn-default
		span(class="fa fa-twitter")